.edit-btn{
    background-color: #1990ff;
    color: #fff;
    padding: 5px 10px;
}

.delete-btn{
    background-color: #ff4d4f;
    color: #fff;
    padding: 5px 10px;
}

.filter-container{
    background-color: #ffffff;
    padding: 10px;
}

h1{
    margin: 0;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
  
  @media (max-width: 576px) {
    .ant-input-search{
        width: 100% !important;
    }
  }
  